# Compiler output 
*/bin
*/obj
*/obj/*
PrecompiledWeb

# Per-user data
*/*.csproj.user
*.suo
*.sln.cache
*.ReSharper.user
*.TeamCity.user
*.sln.DotSettings.user
_ReSharper.*
*.docstates
*.csproj.ReSharper
*.dotcover
*.ncrunch*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
!packages-incoming/*

# GIT / Merge files
*.orig

*.user
*.exe
*.cache
*.pdb
WpfApplicationWithIoC/WpfApplicationWithIoC/obj/*
WpfApplicationWithIoC/WpfApplicationWithIoC/bin/*